<div id="titles">
  <h2>メイン画面</h2>
  <div id ="welcome">
    Welcome <%= showname %> !
  </div>
</div>
<div id="menuarea">
  <a href="<%= histUrl %>">過去ログ画面へ</a>
</div>
<div id="chatarea">
  <div id="loginarea">
    <span id="errmsg"></span>
    <div id="roomchoice">
      ルーム選択
      <input type="radio" name="room" value="create">
      <input type="text" id="newroom" size="20" maxlength="15" value="">
      <input type="radio" name="room" value="login">
      <select id="selectroom">
	<%= roomSel %>
      </select>
    </div>
    <div id="roompass">
      ルームパスワード
      <input type="password" id="roompwd" size="20" value="">
      <input type="button" id="roomlogin" value="入室">
      <input type="button" id="roomlogout" value="退室">
    </div>
  </div>
  <div id="inputarea">
    送信メッセージ:
    <input type="text"   id="message"  size="50" value="">
    <input type="button" id="buttonSend"  value="送信">
    <input type="hidden" id="login" value="<%= login %>">
    <input type="hidden" id="userhash" value="<%= userhash %>">
    <input type="hidden" id="username" value="<%= username %>">
  </div>
  <div id="reciveArea">
    受信データ
    <ul id="reciveDataSpace">
      <%= histHtml %>
    </ul>
  </div>
</div>
<script src='<%= HtmlUtil::URLROOT + "/js/" %>chat.js'></script>
